<!-- Push Wrapper -->
<menu-head></menu-head>
<div id="outerWrap">
    <div  id="mp-pusher">
        <!-- mp-menu -->
        <navmenu data="data.settings"/>
        <!-- /mp-menu -->
        <div class="wrapper">
            <div class="jumbotron">
                <a class="menu-trigger" data-ng-click="togglemenu()">
                    <span class="sr-only">Toggle navigation</span>
                </a>

                <h2 class=" inline text-muted" id="pageHeader">
                    {{title}}
                </h2>

                <p>use the menu (3 bars icon) to navigate through editable properties.</p>
            </div>
            <div class="container">
                <pre>{{data}}</pre>
            </div>
        </div>
    </div>
</div>
