<div menu-head>
    <li><a data-ng-click="changeActiveItem('search',$event)" class='icon icon-TabSearch' tooltip-placement='right'
           tooltip='Search for menu properties'></a></li>
</div>
<!-- </menu-head>-->
<div id="outerWrap">
    <div id="mp-pusher" ng-controller="menuCntrl">
        <!--mp-menu-->
        <form navmenu novalidate name='playerEdit' onbeforeunload id='mp-menu' ng-show="menuInitDone">
            <div class="nohover " menu-level pagename='search' label='Menu Search'>
                <li ng-form ng-controller='menuSearchCtl' class="form-inline" id="menuSearch"
                     ng-submit="searchMenuFn(value)" role="search">
                    <div class="form-group ">
                        <div class="input-group merged">
                            <span class="input-group-addon"><i class="icon icon-TabSearch"></i></span>
                            <input typeahead-on-select="checkSearch()" ng-change="checkSearch()" type="text"
                                   typeahead="item for item in menuData | filter:$viewValue "
                                   data-typeaheadOnSelect="checkSearch()"
                                   class="form-control forceRightRadius"
                                   placeholder="{{'Search for menu property'| translate}}"
                                   ng-model='menuSearch'/>
                        </div>
                        <span class="help-block"
                              ng-show="notFound">{{ 'The property was not found '| translate}}</span>
                    </div>
                </li>
            </div>
            <!--</menu-level>-->
        </form>
        <!--</navmenu>-->
        <!-- /mp-menu -->
        <div class="wrapper" ng-controller="editPageDataCntrl">
            <div id="menuTriggerWrap" ng-show="$parent.menuInitDone">
                <a class="menu-trigger" data-ng-click="togglemenu($event)">
                    <i class="icon-Close"></i>
                    <span class="sr-only">{{'Toggle navigation'| translate}}</span>
                </a>
            </div>
            <div id='headerRow' class="container padTop">
                    <span class="pull-right">
                         <button ng-click="cancel()"
                                 class="btn btn-default">{{'LIST_BACK_BTN'| translate}}
                         </button>
                        <button ng-disabled="!saveEnabled()" ng-click="save()"
                                class="btn btn-primary">{{'Save Player Settings'| translate}}
                        </button>
                    </span>
                    <span class="control-group pull-left">
                        <label require="require" class="prettycheckbox"
                               ng-model="autoRefreshEnabled">
                        </label>
                        <span id="autoPreviewLabel">
                       Auto Preview </span>
                        </span>
                <button class="btn btn-default" ng-hide="autoRefreshEnabled" ng-disabled="!checkPlayerRefresh()"
                        ng-class="{'btn-success':checkPlayerRefresh()}" ng-click="refreshPlayer()"><i
                        class="glyphicon glyphicon-refresh">&nbsp;</i>{{'Preview Changes'|translate}}
                </button>
                <!--h2 class=" inline text-muted" id="pageHeader">
                    {{title}}
                </h2-->
            </div>
            <div class="container" ng-if="debug">
                <div ng-show="formValidation()" class="container"><p>these property values are not valid:</p>

                    <div ng-repeat="obj in formValidation()">
                        <p ng-repeat="objSub in obj">
                            {{objSub.$name}}:{{objSub.$error | json}}</p>
                    </div>
                </div>
                <pre style="width: 100%;height:300px;overflow-x: scroll"> {{getDebugInfo() | json}}"</pre>
            </div>
            <!-- Companion placeholders for VAST -->
            <div id="Companion_300x250"></div>
            <div id="Companion_728x90"></div>

            <div class="container" id="videoWrapper">
                <div id="spacer"></div>
                <div id="kVideoContainer">ˆ
                    <div id="kVideoTarget" itemprop="video" itemscope
                         itemtype="http://schema.org/VideoObject"></div>
                </div>
            </div>
        </div>
    </div>
</div>