<div class="jumbotron fullheight">
    <div class="container">
        <div id="loginBox" class="">
            <h2 class="text-muted page-header" id="pageHeader">
                Login to v2.0 Studio
            </h2>

            <div class="alert alert-danger" ng-show="formError">{{formHelpMsg}}</div>
            <form ng-submit="login()" class="form-horizontal">
                <div id="loginTable">

                    <div class="form-group">
                        <label class='sr-only control-label' for="email">Email:</label>
                        <input class=" form-control col-md-8" value='' type="text" id="email" ng-model="email"
                               placeholder="Email:"/>
                    </div>
                    <div class="form-group">
                        <label class='sr-only control-label' for="password">Password:</label>
                        <input class="form-control  col-md-8" value='' type="password" id="password" ng-model="pwd"
                               placeholder="Password:">
                    </div>

                    <div class="col-md-offset-4 login-foot">
                        <input type="submit" class="btn btn-primary login" value='Login'/></div>
                </div>
            </form>
        </div>
    </div>
</div>