/* app stylesheet */
body,
.jumbotron {
  font-size: 13px;
}
.scroller-inner > .container {
  margin: auto;
  max-width: 95%;
}
.playerThumb {
  width: 300px;
}
.playerTemplate {
  display: block;
  border: 3px solid darkblue;
  border-radius: 5px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  text-align: center;
}
#listsearch ul.typeahead.dropdown-menu {
  max-width: 360px;
  overflow-x: scroll;
  overflow-y: hidden;
}
#playerList tr td .alert {
  padding: 0;
  margin: 0;
  display: block;
  font-size: 75%;
}
#playerList tr td.actionBtns button {
  width: 100px;
}
#playerList tr td.actionBtns i {
  padding-left: 20px;
  color: green;
}
/* for bootstrap Angular UI*/
.nav,
.pagination,
.carousel a {
  cursor: pointer;
}
/* helper classes*/
.noMargin {
  margin: 0;
}
#pageHeader {
  margin-top: 5px;
}
.absolute {
  position: absolute;
}
.inline {
  display: inline;
}
.relative {
  position: relative;
}
.fullheight {
  height: 100%;
}
.fullwidth {
  width: 100%;
}
#spinWrapper {
  top: 50%;
  left: 50%;
  position: absolute;
}
.loadingOverlay {
  height: 100%;
  width: 100%;
  background: #B1B1B1;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}
.maxViewPort {
  height: 80%;
  overflow: auto;
}
.forceRightRadius {
  border-radius: 0px 4px 4px 0px!important;
}
