/* app stylesheet */
body,
.jumbotron {
  font-size: 13px;
}
.jumbotron {
  padding-top: 26px;
}
.alert {
  text-align: center;
  padding: 5px;
}
.padTop {
  padding-top: 15px;
}
.scroller-inner > .container {
  margin: auto;
  max-width: 95%;
}
.playerThumb {
  width: 100%;
}
.playerTemplate {
  display: block;
  border: 3px solid darkblue;
  border-radius: 5px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  text-align: center;
}
#listsearch ul.typeahead.dropdown-menu {
  max-width: 360px;
  overflow-x: scroll;
  overflow-y: hidden;
}
#playerList {
  margin-bottom: -150px;
}
#playerList div > div .alert {
  padding: 0;
  margin: 0;
  display: block;
  font-size: 75%;
}
#playerList div > div.actionBtns button {
  width: 116px;
  text-align: left;
}
#playerList div > div.actionBtns i {
  width: 126px;
  padding-left: 12px;
  color: green;
}
#maxSizeSelect {
  max-width: 40px;
  padding: 0;
  text-align: left;
}
/* for bootstrap Angular UI*/
.nav,
.pagination,
.carousel a {
  cursor: pointer;
}
/* helper classes*/
.noMargin {
  margin: 0;
}
#pageHeader {
  margin-top: 5px;
}
.absolute {
  position: absolute;
}
.inline {
  display: inline;
}
.relative {
  position: relative;
}
.fullheight {
  height: 100%;
}
.fullwidth {
  width: 100%;
}
#spinWrapper {
  top: 50%;
  left: 50%;
  position: absolute;
}
.loadingOverlay {
  height: 100%;
  width: 100%;
  background: #B1B1B1;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}
.maxViewPort {
  height: 73%;
  overflow: hidden;
}
@media (max-width: 767px) {
  .maxViewPort {
    height: 62%;
  }
}
@media (max-width: 480px) {
  .maxViewPort {
    height: 50%;
  }
}
.forceRightRadius {
  border-radius: 0px 4px 4px 0px !important;
}
#kplayer {
  margin: auto;
}
.scrollable {
  height: 100%;
  width: auto;
  overflow: hidden;
  position: static;
}
.scrollable > div {
  height: 100%;
  position: relative;
  overflow: hidden;
}
.scrollable > div > div {
  height: 100%;
}
.merged .input-group-addon {
  border-right: 0px;
  background-color: #FFFFFF;
}
.merged input {
  border-left: 0px;
  background-color: #FFFFFF;
}
