html,
body,
body > section,
.scroller {
  height: 100%;
}
.scroller {
  overflow-y: scroll;
}
.scroller,
.scroller-inner {
  position: relative;
}
.container {
  height: 100%;
  position: relative;
}
.mp-pusher {
  margin-left: 33%;
  height: 100%;
}
#mp-menu {
  position: absolute;
  left: 0;
  width: 30%;
  height: 100%;
}
.mp-level {
  position: absolute;
  padding: 5px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #eee;
}
.mp-level .mp-level {
  left: -800px;
}
.mp-level .mp-level.mp-level-open {
  left: 10%;
}
.mp-pusher,
.mp-level {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.menu-trigger {
  position: relative;
  padding-left: 60px;
  top: -15px;
}
.menu-trigger:before {
  position: absolute;
  top: 2px;
  left: 0;
  width: 40px;
  height: 6px;
  background: #bbb;
  box-shadow: 0 6px #fff, 0 12px #bbb, 0 18px #fff, 0 24px #bbb;
  content: '';
}
/* content style */
.mp-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.mp-menu h2 {
  margin: 0;
  padding: 1em;
  color: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  font-weight: 300;
  font-size: 2em;
}
.mp-menu label {
  margin-bottom: -1px;
}
.mp-menu ul li > a,
.mp-menu ul li label {
  display: block;
  padding: 0.7em 1em 0.7em 1.8em;
  outline: none;
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2);
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
}
.mp-menu ul li::before {
  position: absolute;
  left: 10px;
  z-index: -1;
  color: rgba(0, 0, 0, 0.2);
  line-height: 2.6;
}
.mp-level > ul > li:first-child > a,
.mp-level > ul > li:first-child label {
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2), inset 0 1px rgba(0, 0, 0, 0.2);
}
.mp-menu ul li a:hover,
.mp-menu ul li label:hover,
.mp-level > ul > li:first-child > a:hover,
.mp-level > ul > li:first-child > label:hover {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0);
}
.mp-menu .mp-level.mp-level-overlay > ul > li > a,
.mp-level.mp-level-overlay > ul > li:first-child > a {
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0);
}
.mp-menu ul li>a.mp-back {
  -webkit-transform: rotate(90deg);   
-moz-transform: rotate(90deg);
-ms-transform: rotate(90deg);
-o-transform: rotate(90deg);
transform: rotate(90deg);
  background: rgba(0, 0, 0, 0.1);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 0.8em;
   padding: 1em;
  position: relative;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.1);
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
  float: left;
  left: -1em;
}
.mp-back::after {
  font-family: 'linecons';
  position: absolute;
  content: "\e037";
  right: 10px;
  font-size: 1.3em;
  color: rgba(0, 0, 0, 0.3);
}
