<div class="form-element">
     <span class="pull-right" ng-if="featureCheckbox">
            <input class="prettyCheckbox"  ng-model="$parent.featureModelCon._featureEnabled" type="checkbox"/>
     </span>
    <div class="header"  data-tooltip="{{helpnote}}" data-toggle="collapse" data-target="#{{id}}">
        <span class="featureLabel">{{ label }}</span>
        <i class="glyphicon glyphicon-play"></i>
    </div>
    <div class="collapse" id="{{id}}">
        <div ng-transclude></div>
    </div>
</div>