<div class="form-element" >
     <span class="pull-right"  ng-if="featureCheckbox">
            <input class="prettyCheckbox"  player-refresh="boolean" ng-model="featureModelCon._featureEnabled" type="checkbox"/>
     </span>
    <span class='featureDesc' ng-if="description">
            <i class="glyphicon glyphicon-question-sign" data-tooltip-trigger="mouseenter"
               tooltip-html-unsafe="{{description}}"></i>
        </span>

    <div class="header" data-tooltip="{{helpnote}}" ng-click="$parent.isCollapsed = !$parent.isCollapsed">
            <span class="featureLabel" ng-bind-html="label"> </span>
        <i class="glyphicon glyphicon-play"></i>
    </div>
    <div collapse="isCollapsed">
        <div ng-transclude></div>
    </div>
</div>