<div class="form-element">
     <span class="pull-right" ng-if="featureCheckbox">
            <div class="prettycheckbox" player-refresh="true" ng-click="openFeature()"
                 ng-model="featureModelCon._featureEnabled"></div>
     </span>

    <div class="header"  ng-click="toggleFeature()">
        <span class="featureLabel"   data-tooltip-html-unsafe="$scope.description" ng-bind-html="label"></span>
        <i ng-class="{rotate90:!isCollapsed}" class="glyphicon glyphicon-play"></i>
         <span class='featureDesc' ng-if="description">
            <i class="glyphicon glyphicon-question-sign" ng-click="openTooltip($event)"
               data-tooltip-trigger="customShow"
               data-tooltip-html-unsafe="$scope.description"></i>
        </span>
    </div>
    <div ng-transclude ng-class="{disabled:isDisabled}" collapse="isCollapsed">
    </div>
</div>