<li>
    <div class='menu-level-trigger'><a data-ng-click='selfOpenLevel()'>{{label}}</a>
        <span ng-if="parentPage" class="pull-right">
            <input type="checkbox" ng-model="model._featureEnabled"/>
        </span>
    </div>
    <div class='mp-level'>
        <a class='mp-back' ng-click='goBack()' ng-show='parentPage'>Back to {{parentLabel}}</a>
        <h2 class="subMenuHeader">{{label}}</h2>
        <span ng-if="parentPage" class="pull-right"> <input type="checkbox" ng-model="model._featureEnabled"/></span>
        <span class='levelDesc' ng-bind-html='description'></span>
        <ul class='menuList' ng-transclude></ul>
    </div>
</li>