<li>
    <div class="header" data-ng-click='selfOpenLevel()'>
     <span ng-if="parentPage && featureCheckbox" class="pull-right">
            <span class="prettycheckbox" player-refresh="true" ng-click="selfOpenLevel()"
                  ng-model="featureModelCon._featureEnabled"></span>
    </span>
        <a class='menu-level-trigger'>{{(parentPage) ? label : ''}}</a>
    </div>
    <div class='mp-level' menuscroller="{{pagename}}" mcustom-scrollbar="{autoHideScrollbar: false}">
        <a class='mp-back' ng-click='goBack()' ng-show='parentPage'>Back to {{parentLabel}}</a>

        <div class="subPageHeaderWrapper">
                <h2 class="subMenuHeader">{{label}}</h2>
            <span ng-if="parentPage" class="pull-right prettycheckbox" player-refresh="true"
                  ng-model="featureModelCon._featureEnabled">Check to enable
            </span>
        </div>
        <span class='levelDesc' ng-bind-html='description'></span>
        <ul ng-class="{disabled:isDisabled}" class='menuList' ng-transclude></ul>
    </div>
</li>