.menu{
  width: 425px;
  height: 100%;
  position: fixed;
  background-color: #f3f2ee;
}

.categories{
  background-color: #1c1c1c;
  width: 50px;
  height: 100%;
  padding-left: 0px;
  padding-top: 20px;
}

.categoryIcon{
  width: 50px;
  height: 50px;
  position: absolute;
  cursor: pointer;
}

.categoryLabel{
  margin: 0;
  display: inline-block;
  padding-top: 18px;
  padding-bottom: 11px;
  color: #272727;
  text-shadow: 0 0 1px rgba(0,0,0,.1);
  font-weight: 700;
  font-size: 18px;
}

.categoryDesc{
  display: block;
  font-size: 13px;
  margin-bottom: 10px;
  color: #555;
  font-weight: 400;
}

.category{
  position: absolute;
  margin-left: 70px;
  width: 350px;
  padding-top: 5px;
  height: 100%;
  overflow-y: auto;
}

.plugin{
  width: 120px;
  height: 24px;
  background-color: yellow;
  margin-left: 80px;
}

.pluginLabel{
  text-align: left;
  font-weight: 700 !important;
  font-size: 13px;
  color: #555;
}

.text{
  padding-top: 5px;
  margin-bottom: 8px;
}

.entrySelector{
  padding-top: 5px;
  margin-bottom: 30px;
}

.text input{
  width: 100%;
}

.checkbox{
  padding-top: 10px;
  height: 40px;
}

.number{
  padding-top: 10px;
  height: 40px;
}
.number > input{
  width: 76px;
}
.color{
  padding-top: 10px;
  height: 50px;
}

.dropdownContainer{
  height: 40px;
  padding-top: 5px;
}

.select2-drop .select2-chosen{
  font-weight: 400 !important;
  font-size: 13px !important;
  color: #555 !important;
}

.dropdown{
  float: right;
}

.readonly{
  color: #555555;
  margin-left: 10px;
  font-weight: 400;
  font-size: 13px;
}

hr{
  width: 100%;
  bottom: 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #fff;
  clear: both;
}

.spaceLeft{
  margin-left: 5px;
}

.errorIcon{
  margin-left: 3px;
  color: red;
}
.rotate90 {
  transform: rotate(90deg);
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari and Chrome */
  -ms-filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1); /* IE 8 */
}
.invalid{
  color: red;
  border: 1px solid red;
}
.loading{
  color: green;
  font-weight: bold;
}

input[type=text]{
  font-size: 13px;
  line-height: 1.428571429;
  padding: 6px 12px;
  height: 28px;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

input:disabled{
  color: #cacaca;
}
/* Bootstrap resets */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }