#wrapper {
  min-height: 100%;
  height: 100%;
  /* Pad & margin   by footer height */
  margin: 0 auto -80px;
  padding: 0 0 80px;
  @media (max-width: 767px) {
    margin: 0 auto -120px;
    padding: 0 0 120px;
  }
}

/* Set the fixed height of the footer here */
#footer {
  height: 80px;
  @media (max-width: 767px) {
    height: 120px;
  }
}

#list {
  > #header {
    position: absolute;
    width: 96%;
    @media (max-width: 767px) {
      width: 92%;
    }
    @media (max-width: 480px) {
      width: 90%;
    }
  }
  #listsearch {
    .input-group-addon {
      background: none;
      i {
        font-size: 19px;
        color: #555;
      }
    }
    ul.typeahead.dropdown-menu {
      max-width: 360px;
      overflow-x: scroll;
      overflow-y: hidden;
    }
  }

  #kplayer {
    margin: auto;
  }
  .playerThumbWrapper {
    padding: 0;
  }
  .playerThumb {
    width: 100%;
    max-width: 160px;
  }
  #playerList {
    .scroller {
      margin-bottom: -80px;
      padding-bottom: 80px;

    }
    height: 82%;
    margin-top: 50px;
    @media (max-width: 480px) {
      margin-top: 60px;
    }
    > tr.row:last-child {
      margin: 0;
      margin-top: 10px;
      border-top: 3px solid #f1f1e9;
    }
    #tableHead {
      border-bottom: 3px solid #f1f1e9;
      margin: 0;
      margin-bottom: 10px;
      div {
        padding: 0;
        white-space: nowrap;
        font-weight: bold;
      }
    }
    tr.row:not(#tableHead) {
      &:hover {
        background-color: #ebf1f4;
      }
      td {
        padding: 4px;
      }
      border-bottom: 2px solid #ebf1f4;
      > div {
        display: table-cell;
        vertical-align: middle;
      }
      &:last-child {
        border-bottom: none;
      }
      .alertsWrapper {
        text-align: center;
        margin-top: 5px;
        .alert {
          color: #272727;
          display: inline-block;
          background: #e3e09d;
          font-size: 13px;
          padding: 2px 8px;
        }
      }
      .actionBtns {
        > .inner {
          max-width: 300px;
          margin: auto;
        }
        button {
          width: 96px;
          text-align: left;
        }
        i {
          padding-left: 12px;
          padding-right: 3px;
          color: #12aa16;
          clear: both;
        }
        i.icon-checkmark-circle + span {
          color: #12aa16;
        }
      }
    }
    .mCustomScrollBox {
      .mCSB_draggerRail {
        background: #ffffff;
      }
      .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
        width: 11px;
      }
      &:hover {
        .mCSB_dragger {
          background: #f1f1e9;
        }
      }
    }
  }
}

#maxSizeSelect {
  max-width: 49px;
  padding: 0;
  text-align: left
}