.scrollable {
  height: 100%;
  width: auto;
  overflow: hidden;
  position: static;
  > div {
    height: 100%;
    position: relative;
    overflow: hidden;
    > div {
      height: 100%
    }
  }
}
#listsearch ul.typeahead.dropdown-menu {
  max-width: 360px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.maxViewPort {
  height: 73%;
  overflow: hidden;
  @media (max-width: 767px) {
    height: 62%;
  }
  @media (max-width: 480px) {
    height: 50%;
  }
}
#kplayer {
  margin: auto;
}

#playerList {
  margin-bottom: -150px;
  div > div {
    .alert {
      padding: 0;
      margin: 0;
      display: block;
      font-size: 75%;
    }
    &.actionBtns {
      button {
        width: 116px;
        text-align: left;
      }
      i {
        display: inline-block;
        width: 116px;
        padding-left: 12px;
        color: #12aa16;
        clear: both;
      }
    }
  }
}

#maxSizeSelect {
  max-width: 40px;
  padding: 0;
  text-align: left
}
