//layout
html, body, body > section, .scroller, .wrapper {
  height: 100%;
}

.booticon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}

#outerWrap {
  margin-left: 60px;
  overflow-x: hidden;
  height: 100%;
}

.scroller,
.wrapper {
  position: relative;
}

#mp-pusher {
  left: 30%;
  height: 100%;
  position: relative;
}

#mp-menu {
  position: absolute;
  left: -30%;
  width: 30%;
  height: 100%;
  #mp-inner {
    height: 100%;
    margin-left: 60px;
  }
}

.separator {
  display: block;
  width: 100%;
  margin: 10px 0;
  border-top: 1px solid #dddddd;
  height: 5px;
}

#mp-mainlevel {
  height: 100%;
  padding-top: 20px;
  width: 60px;
  position: absolute;
  z-index: 1000;
  background: #323232; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMyMzIzMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMDMwMzAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(left, #323232 0%, #303030 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #323232), color-stop(100%, #303030)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #323232 0%, #303030 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #323232 0%, #303030 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #323232 0%, #303030 100%); /* IE10+ */
  background: linear-gradient(to right, #323232 0%, #303030 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#323232', endColorstr='#303030', GradientType=1); /* IE6-8 */
  ul {
    list-style: none;
    padding: 0;
  }
  a.icon {
    color: #fff;
    display: block;
    padding: 8px;
    width: 100%;
    height: 50px;
    font-size: 250%;
    //    border-bottom: 2px solid #eee;
    opacity: 0.18;
    &:hover, &.active {
      opacity: 0.5;
      text-decoration: none;
    }
  }

}

.mp-level {
  position: absolute;
  padding: 5px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #eee;

}

.mp-level .mp-level {
  left: -100%;
  z-index: 100;
}

.mp-level .mp-level.mp-level-open {
  left: 0;

}

#mp-pusher,
.mp-level {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

//trigger
.menu-trigger {
  position: relative;
  padding-left: 40px;
  margin-right: 20px;
  top: -15px;
  padding-bottom: 20px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  &:hover {
    outline: 5px #bbb groove;
  }
}

.menu-trigger:before {
  position: absolute;
  top: 2px;
  left: 0;
  width: 40px;
  height: 6px;
  background: #7A7474;
  box-shadow: 0 6px #fff, 0 12px #7A7474, 0 18px #fff, 0 24px #7A7474;
  content: '';

}

/* content style */
#mp-menu {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  #mp-base > ul > li > div.mp-level > a.mp-back {
    display: none;
  }

  h2 {
    margin: 0;
    padding: 1em;
    color: #000000;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    font-family: arial, sans-serif;
    font-size: 18px;
  }
  .levelDesc {
    margin: 0 40px;
    display: block;
    font-size: 13px;
    margin-bottom: 10px;
    color: #777;
    font-family: arial, sans-serif;
    font-weight: normal;
  }
  .spinEdit > label {
    width: 100%;
  }
  .mp-level li > label {
    display: block;
    clear: both;
    min-height: 30px;
    margin-bottom: -1px;
    color: #666;
    i.icon {
      float: left;
      vertical-align: bottom;
      line-height: 1.4em;
      display: inline;
      font-size: 22px
    }
    input[type="text"] {
      float: left;
      margin-left: 5%;
      width: 85%;
    }
    input[type="checkbox"], div.select2-container, .prettyCheck, .spinEdit input.small {
      float: right;
      z-index: 10;
    }
    .prettyCheck a {
      float: right;
      width: 25px;
    }

  }

  ul li {
    display: block;
    min-height: 50px;
    padding: 0.7em 1em 0.7em 1.8em;
    &:hover {
      background: rgba(0, 0, 0, 0.2);
      box-shadow: inset 0 -1px rgba(0, 0, 0, 0);
    }
    a.menu-level-trigger {
      width: 100%;
      float: left;
      display: block;
      color: #666;
      &:hover {
        text-decoration: none;
      }
      &:after {
        .booticon;
        float: right;
        content: "\e080";
        color: black;
      }
    }
  }

  //back
  .mp-back {
    background: rgba(0, 0, 0, 0.1);
    outline: none;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    display: block;
    font-size: 0.8em;
    padding: 1em;
    position: relative;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.1);
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    transition: background 0.3s;
  }

  .mp-back::before {
    .booticon;
    content: "\e079";
    color: black;
  }

}

