<label>
        <span  data-tooltip-html-unsafe="$scope.helpnote"  class="control-label">
            <span ng-bind-html="label"></span></span><i ng-if="icon" class="icon {{icon}}"></i>
        <span class="button-wrapper">
            <button  type="button" ng-if="check(action)" ng-click="btnAction(action)"
                    class="btn btn-default {{btnClass}}">{{ btnLabel }}
            </button>
        </span>
        <span   data-tooltip-html-unsafe="$scope.helpnote" class="infodata control-data">{{ model }}</span>
</label>