<label>
        <span class="control-label"><span ng-bind-html="label"></span>
        <span class='featureDesc' ng-if="helpnote">
            <i class="glyphicon glyphicon-question-sign" ng-click="openTooltip($event)" ng-mouseover="openTooltip($event)"
               data-tooltip-trigger="customShow"
               data-tooltip-html-unsafe="$scope.helpnote"></i>
        </span>
        </span>
    <span class="pull-right">
        <select dname='strModel' ng-required="require" ui-select2="{{uiselectOpts}}" ng-model="model">
            <option ng-selected="checkSelection(item.value)" value="{{item.value}}" ng-repeat="item in options">
                {{item.label}}
            </option>
        </select>
        </span>
</label>