<div class="form-element">
    <span class='control-label'>
        <span ng-bind-html="label"></span>
        <i ng-if='icon' class='icon {{icon}}'></i>
      <span class='featureDesc' ng-if="helpnote">
                <i class="glyphicon glyphicon-question-sign" ng-click="openTooltip($event)"
                   ng-mouseover="openTooltip($event)"
                   data-tooltip-trigger="customShow"
                   data-tooltip-html-unsafe="$scope.helpnote"></i>
        </span>
    </span>
    <span class='inputHolder'>
        <input ng-disabled="isDisabled" dname='strModel' ng-placeholder="{{placehold}}" ng-pattern='validation'
               ng-required="{{require}}"
               class='form-control' type='text' val-type="{{type}}" ng-model='model'/>
        <span class="help-inline alert-danger"
              ng-show="require && reqState">{{"This field is required." | translate }}</span>
        <span class="help-inline alert-danger" ng-show="validation && valState">{{"This field doesn't have the right format of value." | translate}}</span>
    </span>
</div>