<label>
    <span class="control-label" ng-bind-html="label"></span>

    <div class='fullwidth'><i ng-if='icon' class='icon {{icon}}'></i>
        <span class='featureDesc' ng-if="helpnote">
            <i class="glyphicon glyphicon-question-sign" ng-click="openTooltip($event)" ng-mouseover="openTooltip($event)"
               data-tooltip-trigger="customShow"
               data-tooltip-html-unsafe="$scope.helpnote"></i>
        </span>
        <input ng-required="{{require}}" dname='strModel' type='text'
               readonly='readonly' ng-model='model' ng-click='doModal()'/>
    </div>
</label>