<label class="spinEdit">
    <span class="control-label" ng-bind-html="label"></span>
        <span class='featureDesc' ng-if="helpnote">
            <i class="glyphicon glyphicon-question-sign" ng-click="openTooltip($event)" ng-mouseover="openTooltip($event)"
               data-tooltip-trigger="customShow"
               data-tooltip-html-unsafe="$scope.helpnote"></i>
        </span>

    <div class="pull-right ">
        <div number-input dname='strModel' ng-form='inputForm' ng-disabled="isDisabled"
             defaults="defaults" ng-model="model"
             class="input-group">
        </div>
    </div>
    <div ng-show="inputForm.$invalid">
        <span class="help-inline alert-danger" ng-show="inputForm.$error['max']">{{'The maximum value is'|translate}} {{defaults.to}}</span>
        <span class="help-inline alert-danger" ng-show="inputForm.$error['min']">{{'The minimum value is' |translate}} {{defaults.from}}</span>
    <span class="help-inline alert-danger"
          ng-show="inputForm.$error['pattern']">{{'Only numbers are accepted' |translate}}</span>
    </div>
</label>