<label>
    <span class="control-label" ng-bind-html="label"></span>
    <i ng-if='icon' class='icon {{icon}}'></i>
        <span class='featureDesc' ng-if="helpnote">
            <i class="glyphicon glyphicon-question-sign" ng-click="openTooltip($event)" ng-mouseover="openTooltip($event)"
               data-tooltip-trigger="customShow"
               data-tooltip-html-unsafe="$scope.helpnote"></i>
        </span>
    <input dname='strModel' ng-required="require" type="hidden" ui-select2="selectOpts" ng-model="model">
</label>