<div class="form-element sortOrder">
    <ul>
        <li ng-repeat="container in containers">
            <div class="sortContainer"><h4>{{container.name}}</h4>
                <div  ng-repeat="(sideName,side) in container.sides" class="side">
                    <h5>{{sideName |capitalize}}</h5>
                    <ul class="sortableList" ui-sortable="sortOpts.options" ng-model="side">
                        <li class="sortObj" ng-repeat="obj in side | orderBy: obj.sortVal"><i
                                class="glyphicon glyphicon-chevron-right"></i>{{ obj.label }}
                        </li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
</div>