@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-open:before {
	content: "\e604";
}
.icon-Close:before {
	content: "\e605";
}
.icon-TabSearch:before {
	content: "\e606";
}
.icon-TabPlugins:before {
	content: "\e607";
}
.icon-TabMonetization:before {
	content: "\e608";
}
.icon-TabLookandFeel:before {
	content: "\e609";
}
.icon-TabEngagement:before {
	content: "\e60a";
}
.icon-TabBasicSettings:before {
	content: "\e60b";
}
.icon-TabAnalytics:before {
	content: "\e60c";
}
.icon-defult:before {
	content: "\e60d";
}
.icon-checkmark-circle:before {
	content: "\e600";
}
.icon-copy:before {
	content: "\e601";
}
.icon-eye:before {
	content: "\e602";
}
.icon-close:before {
	content: "\e603";
}
