<div class="color" style="padding-top: 15px">
	<span ng-class="{disabled: plugin!=null && !plugin.enabled}" class="pluginLabel" id="{{property.id}}">{{property.label}}</span>
	<i class="glyphicon glyphicon-question-sign helpIcon" ng-class="{disabled: plugin!=null && !plugin.enabled}"
	   ng-show="{{property.helpnote != null}}" tooltip="{{property.helpnote}}" tooltip-placement="right"
	   tooltip-popup-delay="500"></i>
	<spectrum-colorpicker class="pull-right" ng-if="plugin!=null && !plugin.enabled"
	                      options="{showInput: true, disabled: true, showButtons: false}"
	                      ng-model="property.initvalue"></spectrum-colorpicker>
	<spectrum-colorpicker ng-change="propertyChanged(property, true)" class="pull-right"
	                      ng-if="plugin!=null && plugin.enabled"
	                      options="{showInput: true, disabled: false, clickoutFiresChange: true, showButtons: false, preferredFormat: 'rgb', showAlpha: property.alpha}"
	                      ng-model="property.initvalue"></spectrum-colorpicker>
	<hr bind-once ng-if="property.endline">
</div>