<div class="text">
	<span ng-class="{disabled: plugin!=null && !plugin.enabled}" class="pluginLabel" id="{{property.id}}">{{property.label}}</span>
	<i class="glyphicon glyphicon-question-sign helpIcon" ng-class="{disabled: plugin!=null && !plugin.enabled}" ng-show="{{property.helpnote != null}}" tooltip="{{property.helpnote}}" tooltip-placement="right" tooltip-popup-delay="500"></i>
	<div class="btn-group pull-right" style="margin-bottom: 10px">
		<label class="btn btn-default" ng-model="entriesTypeSelector" btn-radio="'Entries'" ng-click="setEntriesType('Entries')">Entries</label>
		<label class="btn btn-default" ng-model="entriesTypeSelector" btn-radio="'Playlist'" ng-click="setEntriesType('Playlist')">Playlist</label>
	</div>
	<input ng-if="entriesTypeSelector=='Entries'" ui-select2="entriesSelectBox" ng-model="selectedEntry" class="dropdown" ng-disabled="plugin!=null && !plugin.enabled" ng-change="propertyChanged({'selectedEntry': selectedEntry, 'model': property.model})" type="hidden"/>
	<input ng-if="entriesTypeSelector=='Playlist'" ui-select2="playlistSelectBox" ng-model="selectedEntry" class="dropdown" ng-disabled="plugin!=null && !plugin.enabled" ng-change="propertyChanged({'selectedEntry': selectedEntry, 'model': property.model})" type="hidden"/>
	<hr bind-once ng-if="property.endline" style="margin-top: 70px">
</div>
