<div class="text" ng-class="{sm: property.size=='small'}">
	<span class="pluginLabel" ng-class="{disabled: plugin!=null && !plugin.enabled}" id="{{property.id}}">{{property.label}}</span>
	<i class="glyphicon glyphicon-question-sign helpIcon" ng-class="{disabled: plugin!=null && !plugin.enabled}" ng-show="{{property.helpnote != null}}" tooltip-html-unsafe="{{property.helpnote}}" tooltip-placement="right" tooltip-popup-delay="500"></i>
    <br  ng-if="property.size==small">
	<input type="text" class="alpha" ng-class="{invalid: property.invalidTooltip}"  tooltip="{{property.invalidTooltip}}" tooltip-placement="top" tooltip-popup-delay="0" ng-model="property.initvalue" ng-change="propertyChanged(property, false)" ng-enter="propertyChanged(property, 'enter')" ng-blur="propertyChanged(property, 'blur')" ng-disabled="plugin!=null && !plugin.enabled">
	<hr bind-once ng-if="property.endline">
</div>