<div class="text">
	<span bind-once id="{{property.id}}">{{property.label}}</span>
	<i class="glyphicon glyphicon-question-sign helpIcon" ng-show="{{property.helpnote != null}}" tooltip-html-unsafe="{{property.helpnote}}" tooltip-placement="right" tooltip-popup-delay="500"></i><br>
	<input type="text" ng-class="{invalid: property.invalidTooltip}"  tooltip="{{property.invalidTooltip}}" tooltip-placement="top" tooltip-popup-delay="0" ng-model="property.initvalue" ng-change="propertyChanged(property, false)" ng-enter="propertyChanged(property, true)" ng-blur="propertyChanged(property, true)" ng-disabled="plugin!=null && !plugin.enabled">
	<hr bind-once ng-if="property.endline">
</div>