<div class="text">
	<span ng-class="{disabled: plugin!=null && !plugin.enabled}" class="pluginLabel" id="{{property.id}}">{{property.label}}</span>
	<i class="glyphicon glyphicon-question-sign helpIcon" ng-class="{disabled: plugin!=null && !plugin.enabled}" ng-show="{{property.helpnote != null}}" tooltip="{{property.helpnote}}" tooltip-placement="right" tooltip-popup-delay="500"></i><br>
	<input type="url"class="alpha" ng-class="{invalid: property.invalidTooltip}" tooltip="{{property.invalidTooltip}}" tooltip-placement="top" tooltip-popup-delay="0" ng-change="propertyChanged(property)" ng-enter="propertyChanged(property, 'enter')" ng-blur="propertyChanged(property, 'blur')" ng-disabled="plugin!=null && !plugin.enabled" ng-model="property.initvalue" placeholder="URL">
	<hr bind-once ng-if="property.endline">
</div>